body{
	line-height: 1.3;
	font-family: 'Noto Sans', sans-serif;
	
}
#page{
	
}
h1, h2, h3 {
	
}
h1{
	text-transform: uppercase;
	font-size: 130%
}
h2{
	font-size: 120%
	border-bottom: 1px double #333;
}
h3{
	font-size: 110%;
	
}
/* desktop */
@media only screen and (min-width: 911px){
	#page {
		
	}
	
}