body{
	line-height: 1.3;
	font-family: 'Noto Sans', sans-serif;
}
#page{
	width: 36em;
	padding: .5em .5em;
}
h1, h2, h3 {
	margin: 1em 0 .5em 0;
}
h1{
	text-transform: uppercase;
	font-size: 130%
}
h2{
	font-size: 120%
	border-bottom: 1px double #333;
}
h3{
	font-size: 110%;
	
}
